* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #4e9cdb;
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#BG {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.flag {
  width: clamp(125px, 20vw, 200px);
  margin-left: 15px;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 4;
}

.flag:hover {
  cursor: pointer;
  opacity: 0.7;
}

.main {
  display: flex;
  flex-direction: column;
}

.sec1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
  padding-left: clamp(20px, 10vw, 200px);
}

.sec {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.build, .get {
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
  font-size: clamp(10px, 7.5vw , 5rem);
}

.flask {
  color: #10437D;
}

.slushie {
  color: #10437D;
}

.btns {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.btn {
  height: 52.5px;
  width: 200px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: clamp(10px, 1.1rem, 25px);
  background-color: #10437D;
  color: white;
  transition: all 0.3s ease;
  white-space: nowrap;
  width: clamp(160px, 11vw, 250px);
  font-size: 19px;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-6px);
  background-color: #082e58;
}

.ws {
  background-color: white;
  color: #082e58;
}

.ws:hover {
  background-color: rgb(209, 209, 209);
}

.how {
  font-size: 60px;
  font-size: clamp(20px, 10vw , 70px);
  color: #10437D;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  gap: clamp(1rem, 4vw, 3rem);
  width: 90%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.grid-item {
  background-color: #B3D8F6;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  min-height: 250px;
  max-height: 250px;
  padding: clamp(1rem, 3vw, 2rem);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  flex: 1 1 250px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
}

.gt {
  margin-bottom: 0;
  font-size: clamp(20px, 5vw , 45px);
  color: #10437D;
}


.gp {
  margin-top: 10px;
  width: 85%;
  color: #2767A3;
  font-size: clamp(10px, 5vw , 27px);
}

.reqs {
  margin-top: 100px;
}

.reqBox {
  width: 85%;
  height: auto;
  max-width: 850px;
  background-color: #B3D8F6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
}

.list > li {
  color: #1B5590;
  font-size: clamp(14px, 2vw, 20px);
  margin: 0;
  padding: 0;
}

.for {
  color: #10437D;
  font-size: clamp(16px, 3vw, 30px);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 85%;
}

.faqCon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.faq {
  height: clamp(40px, 5vw, 55px);;
  width: clamp(40px, 5vw, 55px);;
  border-radius: 50%;
  font-size: 23px;
  border: none;
  outline: none;
  background-color: #10437D;
  color: white;
  margin: 30px;
  transition: all 0.3s ease;
}

.faq:hover {
  opacity: 0.8;
  cursor: pointer;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 10;
  opacity: 0.6;
  pointer-events: none;
  display: none;
}

.modCon {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 12;
}

.faqMod {
  height: 75vh;
  width: min(650px, 85vw);;
  background-color: #10437D;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-bottom: 25px;
  box-shadow: 0px 2px 15px rgb(0, 0, 0);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  color: white;
}

.top > button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
}

.questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.q {
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 25px 50px;
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.q::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 1.5px;
  background-color: white;
  transition: all 0.3s ease;
}

.q-header {
  font-size: 22.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.close {
  margin-right: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  opacity: 0.6;
}

.hiddenDesc {
  display: none;
  opacity: 0.7;
  width: 90%;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.arrow {
  transition: all 0.3s ease;
  font-size: 22px;
}

.q.open .hiddenDesc {
  display: block;
}

.q.open .arrow {
  transform: rotate(-180deg);
}


@media (max-width: 675px) {
  .build, .get {
    font-size: 3rem;
  }  
}

@media (max-width: 405px) {
  .btns {
    flex-direction: column;
    gap: 10px;
  }

  .sec1 {
    align-items: center;
  }

  .text {
    text-align: center;
  }

  .faq {
    display: none;
  }
}