html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(3, 118, 163);
}

#BG {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.circle {
  height: 600px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0px 2px 100px rgb(119, 0, 255);
}

.main > h1 {
  color: white;
  font-size: 70px;
  width: 20%;
  text-align: center;
}